*.o
*.a
*.lo
*.la
*.log
*.status
.deps/
.libs/
Makefile
/libtool
/libtiff-4.pc
/libtiff/stamp-h1
/libtiff/stamp-h2
/libtiff/tif_config.h
/libtiff/tiffconf.h
/libtiff/mkg3states
/contrib/addtiffo/addtiffo
/contrib/dbs/tiff-bi
/contrib/dbs/tiff-grayscale
/contrib/dbs/tiff-palette
/contrib/dbs/tiff-rgb
/contrib/iptcutil/iptcutil
/tools/*
!/tools/*.*
/tools/*.o
/tools/.deps/
/tools/.libs/

